body{

  /*https://www.gradient-animator.com/*/
  background: linear-gradient(133deg, #ffefd5, #ffd5f4);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 44s ease infinite;
  -moz-animation: AnimationName 44s ease infinite;
  animation: AnimationName 44s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.item1 { grid-area: header; }
.item2 { grid-area: listDisplay; }
.item3 { grid-area: songDisplay; }
.item4 { grid-area: userDisplay; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'listDisplay listDisplay listDisplay listDisplay songDisplay'
      'listDisplay listDisplay listDisplay listDisplay userDisplay'
      'footer footer footer footer footer';
    grid-gap: 16px;
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
  }