div .holder {
    padding: 8px;
    display: flex;
    align-items: center;
}

.icon {
    float:left;
    width: 28px;
    height: 28px;
    display: block;
    margin-right: 8px;
    padding-left: 8px;
}

.list-title {
    font-size: 20px;
    font-weight: lighter;
}

.list-artist {
    font-size: 16px;
    font-weight: lighter;
}